<?php /** @var \Kowal\CloudflareTurnstile\Block\Turnstile $block */ ?>
<div id="<?= $block->getId() ?>" class="cloudflare-turnstile" data-bind="scope:'cloudflare-turnstile'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
{
    "#<?= $block->getId() ?>": {
        "Magento_Ui/js/core/app": {
            "components": {
                "cloudflare-turnstile": {
                    "component": "Kowal_CloudflareTurnstile/js/view/turnstile",
                    "action": "<?= $block->getAction() ?>",
                    "configSource": "turnstileConfig"
                }
            }
        }
    }
}
</script>
